* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;    
}

ul {
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

h1 {
    padding: 0;
    margin: 0;
    margin-right: auto;
    max-width: 300px;
    padding: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8; 
}

button {
    width: 110px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: .5em;
    margin-top: 8px;
    margin-right: auto;
}

img {
    width: 300px;
    height: auto;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    justify-content: space-between;
}

.header_links {
    display: flex;
}

.first_section {
    display: flex;
    width: 100%;
}

.first_section_left,
.first_section_right {
    display: flex;
    background-color: #1F2937;
    width: 50%;
    flex-wrap: wrap;   
}

.first_section_left {
    color: #E5E7EB;
    font-size: 18px;
    height: 450px;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    padding-top: 10%;
    padding-left: 14%;
    padding-right: 8%;
}

.first_section_text {
    width: 450px;
}

.first_section_right {
    justify-content: center;
    align-items: center;
}

.second_section_header {
    display: flex;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    padding-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.second_section_container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 65px;
    width: 100%;
    height: 100px;
    padding: 0 10%;
    padding-bottom: 350px;
}

.second_section_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 300px;
    text-align: center;
}

.second_section_empty_box {
    display: flex;
    border: 4px solid #3882F6;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    border-radius: .9em;
}

.second_section_text {
    font-size: 18px;
}