* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;    
}

ul {
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

h1 {
    padding: 0;
    margin: 0;
    margin-right: auto;
    max-width: 300px;
    padding: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8; 
}

button {
    width: 110px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: .5em;
    margin-top: 8px;
    margin-right: auto;
}

img {
    width: 300px;
    height: auto;
}

.header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    justify-content: space-between;
}

.header_links {
    display: flex;
}

.main {
    display: flex;
    width: 100%;
}

.main_left,
.main_right {
    display: flex;
    background-color: #1F2937;
    width: 50%;   
}

.main_left {
    color: #E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
    height: 450px;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    padding-top: 10%;
    padding-left: 14%;
    padding-right: 8%;
}

.main_text {
    flex-wrap: wrap;
    width: 450px;
}

.main_right {
    justify-content: center;
    align-items: center;
}

/*